option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "mysite.settings"
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
    DJANGO_SUPERUSER_USERNAME: "admin"
    DJANGO_SUPERUSER_EMAIL: "admin@example.com"
    DJANGO_SUPERUSER_PASSWORD: "Swe1Pass2026!"

container_commands:
  01_migrate:
    command: "django-admin migrate --noinput"
    leader_only: true
  02_createsuperuser:
    command: "django-admin createsuperuser --noinput"
    leader_only: true
    ignoreErrors: true
